matplotlib==3.3.2
nltk==3.5
numpy==1.21.5
pandas==1.4.2
pandas-compat==0.1.1
QDarkStyle==2.8.1
sentence-transformers==2.1.0
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
stanfordnlp==0.2.0
tokenizers==0.10.3
torch==1.9.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-spline-conv==1.2.1
torchvision==0.9.1
traitlets==4.3.3
transformers==4.11.3
tqdm==4.50.2